<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resume: Patrick Ortiz</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700">
    <link rel="stylesheet" href="/assets/css/colors.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/fonts.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/layout.css" media="screen" />
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen" />
  </head>
  <body>
    <header class="background-color-accent bottom-border-color-accent">
      <section>
        <h1>Patrick Ortiz</h1>
        <h4 class="text-color-accent">Web Development Professional</h4>
      </section>
      <section>
        <nav>
          <a href="#">About Me</a>
          <a href="#">Portfolio</a>
          <a href="#">Resume</a>
        </nav>
      </section>
    </header>
    <main>
    </main>
    <footer>
    </footer>
  </body>
</html>
